
@import "variables";

@mixin layout-for-name($name: null) {
  @if $name == null { $name : '';          }
  @if $name != ''   { $name : '-#{$name}'; }

  .layout#{$name}, .layout#{$name}-column, .layout#{$name}-row, {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
  .layout#{$name}-column {  flex-direction: column;  }
  .layout#{$name}-row    {  flex-direction: row;     }
}

//process flex base attribute stylesheet
@mixin flex-properties-for-name($name: null) {
  $flexName: 'flex';
  @if $name != null {
    $flexName: 'flex-#{$name}';
    $name : '-#{$name}';
  } @else {
    $name : '';
  }

  .#{$flexName}             { flex: 1;         box-sizing: border-box; }  // === flex: 1 1 0%;
  .#{$flexName}-grow        { flex: 1 1 100%;  box-sizing: border-box; }
  .#{$flexName}-initial     { flex: 0 1 auto;  box-sizing: border-box; }
  .#{$flexName}-auto        { flex: 1 1 auto;  box-sizing: border-box; }
  .#{$flexName}-none        { flex: 0 0 auto;  box-sizing: border-box; }

}


@mixin layout-padding-margin() {

  .layout-padding > .flex-sm,   .layout-padding > .flex-lt-md {
    padding: $layout-gutter-width / 4;
  }
  .layout-padding,
  .layout-padding > .flex,
  .layout-padding > .flex-gt-sm,
  .layout-padding > .flex-md,
  .layout-padding > .flex-lt-lg
  {
    padding: $layout-gutter-width / 2;
  }
  .layout-padding > .flex-gt-md,
  .layout-padding > .flex-lg
  {
    padding: $layout-gutter-width / 1;
  }

  .layout-margin > .flex-sm,
  .layout-margin > .flex-lt-md
  {
    margin: $layout-gutter-width / 4;
  }

  .layout-margin,
  .layout-margin  > .flex,
  .layout-margin  > .flex-gt-sm,
  .layout-margin  > .flex-md,
  .layout-margin  > .flex-lt-lg
  {
    margin: $layout-gutter-width / 2;
  }

  .layout-margin  > .flex-gt-md,
  .layout-margin  > .flex-lg
  {
    margin: $layout-gutter-width / 1;
  }

  .layout-wrap {
    flex-wrap: wrap;
  }

  .layout-nowrap {
      flex-wrap: nowrap;
  }

  .layout-fill {
    margin: 0;
    width: 100%;
    min-height: 100%;
    height: 100%;
  }
}


@mixin layouts_for_breakpoint($name:null) {
    @include flex-properties-for-name($name); //flex
    @include layout-for-name($name); //layout
}

@include layouts_for_breakpoint();
@include layout-padding-margin();
